body {
    background-color: rgb(236, 233, 217);
    display: flex;
    justify-content: center;
    margin: 100px;
}
.wrapper {
    background-color: rgb(255,255,255);
    border-radius: 10px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inputform {
    width: 600px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.outputholder {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 350px;
}
.attribution {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.dayinholder, .monthinholder, .yearinholder {
    display: flex;
    flex-direction: column;
    width: 100px;
}
.numinputs {
    margin-top: 5px;
    font-size: 32px;
    height: 40px;
    border: 1px solid hsl(0, 1%, 44%);
    border-radius: 5px;
}
.yearsoutholder, .monthsoutholder, .daysoutholder {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 64px;
}
.monthsoutholder {
    position: relative;
    bottom: 130px;
}
.daysoutholder {
    position: relative;
    bottom: 260px;
}
#yearsout, #monthsout, #daysout {
    color: hsl(259, 100%, 65%);
}
.yearslabel, .monthslabel, .dayslabel {
    padding-left: 10px;
}
.line {
    width: 80%;
    position: relative;
    left: 5%;
    border-bottom: solid 1px hsl(0, 1%, 44%);
}
#formsubmit {
    border: 0;
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
    position: relative;
    top: 50px;
    z-index: 1;
}
#formsubmit:hover {
    cursor: pointer;
}